.grid-container {
    display: grid;
    grid-template: repeat(9, 1fr) / 20fr 80fr;
    height: 100vh;
    row-gap: 30px;
}

.item1 {
    grid-row: span 9;
}

/* NAVBAR */

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #faf0e6;
    color: white;
    padding: 20px;
    height: 100%;
    position: relative;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.navbar-logo img {
    max-width: 80%; 
    height: auto;
    border-radius: 50%;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar-links a {
    color: #64605c;
    text-decoration: none;
    padding: 10px;
}

.navbar-links a:hover {
    background-color: #faf1e8;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    background-color: #faf1e8;
    padding: 10px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar-toggle i {
    font-size: 35px;
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }

    .grid-container > :nth-child(2) {
        margin-top: -30px; 
    }

    .item1 {
        grid-row: 1;
    }

    .navbar {
        height: auto;
        padding: 10px;
    }

    .navbar-logo {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 5px;
    }

    .navbar-logo img {
        max-width: 20%; 
        height: auto;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        padding: 10px 0;
        background-color: #faf1e8; 
    }

    .navbar-links.open {
        display: flex; 
    }

    .navbar-toggle {
        display: block;
        margin-left: auto;
        font-size: 24px;
        cursor: pointer;
    }
}

/* CAROUSEL */

.carousel {
    width: 100%;
    max-height: 500px; 
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 9s infinite;
}

.carousel-inner img {
    width: 100%;
    flex-shrink: 0;
    height: 100%; 
    object-fit: cover;
}

@keyframes slide {
    0%, 33.33% { transform: translateX(0); }
    33.34%, 66.66% { transform: translateX(-100%); }
    66.67%, 100% { transform: translateX(-200%); }
}

.carousel-radio-buttons {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.carousel-radio-buttons input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.carousel-radio-buttons input[type="radio"]:checked {
    background-color: #000;
    border-color: #000;
}

/* ABOUT COMPANY */

.company-container {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    margin: 20px;
    flex-direction: row; 
    box-sizing: border-box; 
    overflow: hidden;
}

.company-images {
    display: flex;
    flex-direction: row; 
    max-width: 45%;
    gap: 20px;
    box-sizing: border-box;
}

.company-images img {
    width: 45%; 
    object-fit: cover;    
}


.company-images img:first-child {
    margin-top: 20px; 
}

.company-images img:last-child {
    margin-bottom: 20px; 
}

.company-about {
    display: flex;
    flex-direction: column;
    color: #333;
    width: 50%; 
    box-sizing: border-box;
    overflow: auto;
    padding: 0 10px;
}

.rating {
    display: flex;
}

.rating svg {
    width: 15px;
    height: 15px;
    fill: #FFD700; 
    cursor: pointer;
}

.company-about h2 {
    margin:13px 0 5px 0;
    font-size: 24px;
    font-weight: 500;
    color:  rgb(11, 53, 29);

}

.company-about p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    overflow-wrap: break-word;
}


@media (max-width: 768px) {
    .company-container {
        flex-direction: column; 
    }

    .company-images {
        width: 100%;
    }

    .company-images img {
        width: 100%; 
        margin: 10px 0; 
    }

    .company-about {
        width: 100%; 
        padding: 10px; 
    }
}

/* PRODUCTS */

.heading{
    margin-left: 30px;
}

.main-heading{
    font-size: 15px;
    font-weight: normal;
    opacity: .7;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-heading{
    font-size: 35px;
    font-weight: 500;
    margin: 1px 0 15px 0;
    color:  rgb(11, 53, 29);

}

.cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    box-sizing: border-box; 
}

.card {
    position: relative; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
}

.card-image {
    position: relative; 
}

.card-image img {
    width: 100%; 
    height: auto; 
    display: block;
    object-fit: cover;
}

.card-description {
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 10px;
    box-sizing: border-box; 
    text-align: center;
}

.card-description h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
}

.card-description p {
    margin: 0;
    font-size: 20px;
}


@media (max-width: 768px) {
    .cards-section {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* IMAGE QUOTE */

.rectangle-image-section {
    display: flex;
    justify-content: center; 
    padding: 20px 0;    
}

.rectangle-image {
    position: relative; 
    max-width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-height: 400px;

    
}

.rectangle-image img {
    width:  100%; 
    height: 100%;
    display: block;
    object-fit: cover;
}

.rectangle-text {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 20px 80px  ; 
    box-sizing: border-box; 
    font-size: 16px; 
    line-height: 1.5;
}

@media (max-width: 768px) {
    .rectangle-text {
        font-size: 14px; 
        padding: 10px;
    }
}

/* PROCESS */

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding-top: 20px;
}

.box {
    border: 1px solid lightgray ;
    padding: 20px;
    text-align: left;
}


.box-icon {
    font-size: 40px; 
    color: rgb(218, 190, 27);
    margin-bottom: 10px;
    
}

.box h4{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(62, 54, 99);
}


.box-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.box-text {
    font-size: 1em;
    color: #666;
}

@media (max-width: 768px) {
    .box-container {
        grid-template-columns: repeat(1, 1fr); 
    }
}

/* INFRASTRUCTURE */

.section {
    padding: 20px;
    background-color: rgb(11, 53, 29);
}

.colored-heading{
    color: #fb9111;
}

.colored-heading2{
    color: white;
}

.image-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.image-card {
    text-align: center;
    padding: 20px;
}

.image-card img {
    width: 100%;
    height: auto;
    max-height: 500px; 
    object-fit: cover;
    margin-bottom: 10px;
}

.image-card-label {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    color: rgb(11, 53, 29);
}


@media (max-width: 768px) {
    .image-card-container {
        grid-template-columns: repeat(1, 1fr); 
    }
}

/* ADDITIONAL ABOUT */

.company-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.company-image {
    flex: 1 ;
    margin-top: 30px;
}

.company-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.company-info {
    flex: 1 ;
    padding-left: 20px;
    background-color: #f4f2ef;
}

.company-info button {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #ff5900;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.company-info button:hover {
    background-color: #ea7c1d;
}

.company-info .heading{
    margin: 30px 0 15px ;
}

@media (max-width: 768px) {
    .company-section {
        flex-direction: column;
    }
}