<div class="item">
    <div class="company-container">
        <div class="company-images">
            <img src="./images/women1.jpg" alt="Image 1">
            <img src="./images/women2.jpg" alt="Image 2">
        </div>
        <div class="company-about">
            <div class="rating">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782 1.4 8.167-7.334-3.857-7.334 3.857 1.4-8.167-5.934-5.782 8.2-1.192z"/>
                </svg>
               
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782 1.4 8.167-7.334-3.857-7.334 3.857 1.4-8.167-5.934-5.782 8.2-1.192z"/>
                </svg>
                
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782 1.4 8.167-7.334-3.857-7.334 3.857 1.4-8.167-5.934-5.782 8.2-1.192z"/>
                </svg>
               
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782 1.4 8.167-7.334-3.857-7.334 3.857 1.4-8.167-5.934-5.782 8.2-1.192z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782 1.4 8.167-7.334-3.857-7.334 3.857 1.4-8.167-5.934-5.782 8.2-1.192z"/>
                </svg> 
            </div>
            <h2>Fashion Forward Apparel Sourcing</h2>
            <p>
                We are a leading company in the industry, committed to providing high-quality products and services to our customers. Our team of experts works diligently to innovate and improve our offerings, ensuring customer satisfaction and long-term success.
            </p>
        </div>
    </div>
</div>