<div class="item">
    <div class="carousel">
        <div class="carousel-inner">
            <img src="./images/tshirt.jpg" alt="Image 1">
            <img src="./images/tshirt.jpg" alt="Image 2">
            <img src="./images/tshirt.jpg" alt="Image 3">
        </div>
        <div class="carousel-radio-buttons">
            <input type="radio" name="carousel" checked>
            <input type="radio" name="carousel">
            <input type="radio" name="carousel">
        </div>
    </div>
</div>