<div class="item">
    <footer class="footer">
        <div class="footer-column">
            <h3 class="sub-heading colored-heading2">About FFAS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex voluptatem veritatis sapiente nobis atque aperiam, ad omnis deserunt excepturi alias necessitatibus?</p>
            <p>Phone: +1 123 456 7890</p>
        </div>
        <div class="footer-column second-column">
            <h3 class="sub-heading colored-heading2">Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-column contact-info">
            <h3 class="sub-heading colored-heading2">Reach Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempora, quo pariatur deleniti necessitatibus blanditiis.</p>
            <p>Email: info@companyxyz.com</p>
            <p>Email: info@companyxyz.com</p>
            
        </div>
    </footer>
</div>
<div class="item final-container">
    <p class="final">FFAS Copyright &copy; 2024. Designed by Launch Web Dreams.</p>
</div> 