<div class="item">
    <div class="rectangle-image-section">
        <div class="rectangle-image">
            <img src="./images/tshirt.jpg" alt="Rectangle Image">
            <div class="rectangle-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi est tempora aut nostrum, minus natus, possimus tempore laboriosam repellat atque nisi ut! Fugiat hic perspiciatis, dolore ipsa odio assumenda dolor explicabo voluptas quidem veniam fuga.</p>
            </div>
        </div>
    </div>
</div>