<div class="item">
    <div class="section">
        <div class="heading">
            <h2 class="main-heading colored-heading">LOVE TO WORK, WHAT YOU LOVE</h2>
            <h3 class="sub-heading colored-heading2">Our Infrastructure</h3>
        
            <div class="image-card-container">
                <div class="image-card">
                    <img src="./images/knitting.jpg" alt="Image 1">
                    <div class="image-card-label">Label 1</div>
                </div>
    
                <div class="image-card">
                    <img src="./images/knitting.jpg" alt="Image 2">
                    <div class="image-card-label">Label 2</div>
                </div>
    
                <div class="image-card">
                    <img src="./images/knitting.jpg" alt="Image 3">
                    <div class="image-card-label">Label 3</div>
                </div>
            </div>
        </div>
    </div>
</div>