<div class="item item1">
    <div class="navbar ">
        <div class="navbar-logo">
            <img src="./images/Logo.png" alt="Logo">
        </div>
        <button class="navbar-toggle" onclick="toggleNavbar()">
            <i class="bi bi-list"></i> <!-- Toggle icon -->
        </button>
        <div class="navbar-links">
            <a href="#">HOME</a>
            <a href="#">MERCHANDISING TEAM</a>
            <a href="#">QUALITY & SERVICES</a> 
            <a href="#">INFRASTRUCTURE</a> 
            <a href="#">CONTACT US</a>
        </div>
    </div>
</div>