<div class="item">
    <div class="heading">
        <h1 class="main-heading">FASHION FORWARD APPAREL SOURCING</h1>
        <h2 class="sub-heading">Our Products</h2>
    </div>
    <div class="cards-section">
        <div class="card">
            <div class="card-image">
                <img src="./images/infants.jpg" alt="Card 1">
                <div class="card-description">
                    <p>Infants</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./images/kids.jpg" alt="Card 2">
                <div class="card-description">
                    <p>Kids</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./images/mens.jpg" alt="Card 3">
                <div class="card-description">
                    <p>Men's Wear</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./images/womens.jpg" alt="Card 4">
                <div class="card-description">
                    <p>Women's Wear</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./images/plain.jpg" alt="Card 5">
                <div class="card-description">
                    <p>Plain Tshirt</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./images/printed.jpg" alt="Card 6">
                <div class="card-description">
                    <p>Customized Tshirt</p>
                </div>
            </div>
        </div>
    </div>
</div>